Source: ros-turbulent-py-trees-ros-interfaces
Section: misc
Priority: extra
Maintainer: Daniel Stonier <d.stonier@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-turbulent-action-msgs, ros-turbulent-ament-cmake, ros-turbulent-ament-lint-common, ros-turbulent-diagnostic-msgs, ros-turbulent-geometry-msgs, ros-turbulent-rosidl-default-generators, ros-turbulent-unique-identifier-msgs, ros-turbulent-ros-workspace, ros-turbulent-rmw-connext-cpp, ros-turbulent-rmw-fastrtps-cpp, ros-turbulent-rmw-implementation, ros-turbulent-rmw-opensplice-cpp, ros-turbulent-rosidl-typesupport-connext-c, ros-turbulent-rosidl-typesupport-connext-cpp, ros-turbulent-rosidl-typesupport-opensplice-c, ros-turbulent-rosidl-typesupport-opensplice-cpp
Homepage: http://ros.org/wiki/py_trees_ros_interfaces
Standards-Version: 3.9.2

Package: ros-turbulent-py-trees-ros-interfaces
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-turbulent-action-msgs, ros-turbulent-diagnostic-msgs, ros-turbulent-geometry-msgs, ros-turbulent-rosidl-default-runtime, ros-turbulent-unique-identifier-msgs, ros-turbulent-ros-workspace
Description: Interfaces used by py_trees_ros and py_trees_ros_tutorials.
